<app-navbar></app-navbar>
<div id="homepage" class="homepage-container">

<div class="desription-container">
    <h2  class="description-title">La Nostra Storia: Fitness e Passione Nella Capitale</h2>
    <p class="description">
         

Nel cuore di Roma, dove la tradizione incontra l'innovazione, è nata la nostra palestra: **Energia Fitness**. <br>Fondata nel 2020 da un gruppo di appassionati di fitness e professionisti della salute, la nostra missione è quella di trasformare il concetto di allenamento e benessere in un’esperienza coinvolgente e accessibile a tutti. <br>

L'idea di creare Energia Fitness è emersa da un desiderio comune: offrire uno spazio dove le persone possano non solo allenarsi, ma anche vivere un senso di appartenenza e comunità. <br> I fondatori, un team di trainer certificati e nutrizionisti, hanno deciso di unire le forze per realizzare un luogo unico, dove innovazione tecnologica e attenzione personale si incontrano. <br>

La nostra palestra è avvolta da un'atmosfera vibrante. <br> Ogni cm2 è progettato con cura per ispirare il movimento e la motivazione. <br> Le pareti sono decorate con murales che celebrano la cultura sportiva romana, mentre la colonna sonora delle lezioni è una selezione di ritmi energici provenienti da tutto il mondo. <br> Il nostro spazio è dotato delle più moderne attrezzature, includendo aree per l'allenamento funzionale, corsi di gruppo ad alta intensità e zone dedicate al relax e alla meditazione. <br>

Energia Fitness non è solo un luogo per allenarsi: è uno spazio per incontrare nuove persone, costruire legami e condividere obiettivi. <br> Attraverso eventi mensili e attività di gruppo, cerchiamo di incoraggiare un senso di comunità tra i nostri membri. <br> Che tu sia un principiante o un atleta esperto, qui troverai il supporto e l'ispirazione per intraprendere il tuo viaggio verso un benessere migliore. <br>

Da un'idea semplice è nata una realtà che oggi è punto di riferimento per molti romani: Energia Fitness è dove le persone si uniscono per trasformare non solo i propri corpi, ma anche le loro vite. <br> Unisciti a noi e scopri come possiamo aiutarti a realizzare il tuo potenziale!
    </p>
</div>

<div class="desription-container">
    <h2 class="description-title">Dove siamo:</h2><br>
    <div class="description-sedi">
        <h2>Palestra "Energia Fitness"</h2>
        <div class="image-container">
            <img src="/assets/palestre/palestra1.jpg" alt="Palestra Evoluzione">
          </div>
        <p>
            

Indirizzo: Via delle Magnolie, 24, 00176 Roma<br>

Situata nel cuore del quartiere Prenestino-Centocelle, Energia Fitness è un moderno centro fitness con ampie vetrate che offrono una splendida vista sulla natura circostante.<br>
 La palestra è dotata di attrezzature all'avanguardia, aree dedicate all'allenamento funzionale e sale corsi luminose e accoglienti.<br>
  Il suo design contemporaneo la rende un luogo ideale per allenarsi e socializzare.<br>

Fermate della Metro più Vicine: <br>

    Metro C, fermata "Gardenie" (a 5 minuti a piedi)<br>
    Metro A, fermata "Subaugusta" (a 15 minuti in autobus)<br>

        </p>
    </div><br>
    <div class="description-sedi">
        <h2>Palestra "Roma Wellness Center</h2>
        <div class="alignleft" >
            <img src="/assets/palestre/palestra2.jpg" alt="Palestra Evoluzione" >
        </div>
        <p>
            

Indirizzo: Corso di Francia, 56, 00191 Roma<br>

Il Roma Wellness Center è una palestra elegante e spaziosa, situata lungo il fiume Tevere in una zona tranquilla e ricca di verde.<br>
 Gli interni sono caratterizzati da ambienti moderni e rilassanti, ideali per chi desidera recuperare il proprio equilibrio fisico e mentale.<br>
  Ogni angolo è pensato per fornire una sensazione di benessere.<br>

Fermate della Metro più Vicine: <br>

    Metro A, fermata "Flaminio" (a 10 minuti a piedi)<br>
    Stazione ferroviaria "Fleming" (a 7 minuti)<br>

        </p>
        
    </div><br>
    
    <div class="description-sedi">
        <h2>Palestra "Vibes Gym"</h2>
        <div class="alignleft" >
            <img src="/assets/palestre/palestra3.jpg" alt="Palestra Evoluzione" >
        </div>
        <p>
            

        Indirizzo: Via delle Rose, 12, 00195 Roma<br>

        Vibes Gym è un centro fitness innovativo situato nel vivace quartiere di Prati. <br>
        Con una facciata in vetro e un design moderno, la palestra offre un'atmosfera dinamica perfetta per tutte le età.<br>
        Gli ampi spazi interni includono un'area cardio, pesi liberi e corsi di gruppo variati, sempre accompagnati da istruttori esperti e motivazionali.<br>

        Fermate della Metro più Vicine: <br>

            Metro A, fermata "Ottaviano-San Pietro" (a 5 minuti a piedi)<br>
            Metro A, fermata "Lepanto" (a 10 minuti a piedi)<br>

        </p>
        
    </div><br>

    <div class="description-sedi">
        <h2>Palestra "Fit & Fun</h2>
        <div class="alignleft" style="flex: 1;">
            <img src="/assets/palestre/palestra4.jpg" alt="Palestra Evoluzione" >
        </div>
        <p>
            

Indirizzo: Via della Libertà, 45, 00182 Roma<br>

La palestra Fit & Fun sorge in una zona centrale di Roma, caratterizzata da un design accattivante e spazi ampi e luminosi.<br>
 È il luogo ideale per chi desidera un approccio ludico al fitness, con corsi che spaziano dall'aerobica alla danza,
  passando per sessioni di allenamento in stile boot camp.<br>
   Qui, ogni allenamento è un'occasione per divertirsi e socializzare.<br>

Fermate della Metro più Vicine: <br>

    MMetro B, fermata "Bologna" (a 7 minuti a piedi)<br>
    Metro A, fermata "Repubblica" (a 15 minuti in autobus)<br>

        </p>
        
    </div><br>
    <div class="description-sedi">
      
            <h2>Palestra "Evoluzione"</h2>
            <div class="alignleft" style="flex: 1;">
            <img src="/assets/palestre/palestra5.jpg" alt="Palestra Evoluzione" >
            </div>
            <p>
                

    Indirizzo: Viale dei Parioli, 78, 00197 Roma<br>

    Evoluzione è una palestra di alta gamma, situata nel prestigioso quartiere dei Parioli. <br>
    Questa struttura combina eleganza e funzionalità, offrendo un'ampia gamma di servizi, tra cui piscine e programmi di allenamento personalizzati.<br>
    L'atmosfera esclusiva e il servizio altamente professionale la rendono ideale per chi desidera il meglio dal proprio percorso di fitness.<br>

    Fermate della Metro più Vicine: <br>

        Metro B, fermata "Flaminio" (a 12 minuti a piedi)<br>
        Fermata tram "Viale delle Belle Arti" (a 5 minuti a piedi)<br>

            </p>
        </div>
</div>


<div class="desription-container">
    <h2 class="description-title">I nostri servizi</h2><br>
    <h2 class="description-title">Prenotazione Flessibile:</h2>
    <p class="description">
    Accedi facilmente alla nostra piattaforma per prenotare la tua palestra preferita.<br> 
    Che tu preferisca un workout intenso, una sessione di yoga rilassante o una lezione di gruppo motivante,
    la tua esperienza inizia qui!
    </p>
</div>

<div class="desription-container">
    <h2 class="description-title">Ampia Gamma di Corsi:</h2>
    <p class="description">
        Scegli tra un'ampia selezione di corsi, tra cui HIIT, pilates, spinning, danza, arti marziali
        e molto altro. I nostri istruttori altamente qualificati sono qui per ispirarti e supportarti,
        indipendentemente dal tuo livello di esperienza.
    </p>
</div>

 <div class="desription-container">
    <h2 class="description-title">Abbonamenti Peronalizzati:</h2>
    <p class="description">
        Sottoscrivi un abbonamento flessibile che si adatta alle tue esigenze e al tuo stile di vita.<br>
         Offriamo diverse opzioni, dai pass giornalieri ai piani mensili e annuali, per garantirti la massima libertà e convenienza.
    </p>
</div>
<div class="desription-container">
    <h2 class="description-title">Community Dinamica:</h2>
    <p class="description">
        Entrando a far parte di FitnessRM, non solo accedi a strutture eccezionali, ma entri anche a far parte di una comunità appassionata e motivata.<br>
         Partecipa a eventi speciali, sfide di gruppo e programmi di wellness per rimanere ispirato e connesso.
    </p>
</div>
<div class="desription-container">
    <h2 class="description-title">Risorse Online:</h2>
    <p class="description">
        Approfitta delle nostre risorse online disponibili per tutti i membri.<br>
        Siamo qui per supportarti in ogni fase del tuo percorso verso il benessere.
    </p>
</div>
<div class="desription-container">
    <p id="description-footer">
        Inizia oggi il tuo viaggio verso un te migliore! Registrati sulla nostra piattaforma e prenota il tuo primo allenamento.<br>
        Con FitnessRM, il cambiamento è a portata di mano. Unisciti a noi e scopri un modo nuovo di vivere il fitness!
        
    </p>
</div>


<div class="description-container">
    <h2 class="description-title">I nostri servizi</h2><br>
    <h2 class="description-title">Prenotazione Flessibile:</h2>
    <p class="description">
      Accedi facilmente alla nostra piattaforma per prenotare la tua palestra preferita.<br>
      Che tu preferisca un workout intenso, una sessione di yoga rilassante o una lezione di gruppo motivante, la tua esperienza inizia qui!
    </p>
  </div>

  <!-- Ripeti il contenuto per gli altri servizi -->
  
  <div class="description-container">
    <p id="description-footer">
      Inizia oggi il tuo viaggio verso un te migliore! Registrati sulla nostra piattaforma e prenota il tuo primo allenamento.<br>
      Con FitnessRM, il cambiamento è a portata di mano. Unisciti a noi e scopri un modo nuovo di vivere il fitness!
    </p>
  </div>
</div>
