#homepage
{
    background-color: black;/*rgb(85, 85, 85);*/
}
.desription-container
{
    width: 70%;
    /* background-color: #80808040; */
    margin-top: 2%;
    margin-left: 3%;
    padding-top: 1.8%;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;  
}

.description-title
{
    font-weight: bold;        
    color: #ff5733;          
    font-size: 24px;
    padding-bottom: 1%;

}

.desription-container .description
{
font-size: 16px;
color: white;
}

#description-footer
{
font-size: 16px;
color: white;
}

h2
{
    font-weight: bold;        
    color: #ff5733;          
    font-size: 24px;
    padding-bottom: 1%;
}

p
{
    font-size: 16px;
    color: white;
}


.alignleft 
{
    float: left;
    padding: 0.5% 1.5% 1.5% 0;
    width: 200px;
    height: auto;
}
.alignleft img
{
    border-radius: 5%;
}
.description-sedi
{
    margin-top:10px;
}
.description-sedi  h2
{
    padding-left: 20%;

}