.all 
{
    background-image: url('/assets/sfondoluigi.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#loginForm
{
    width: 100% !important;
}