<header class="lg:px-16 px-4 bg-white flex flex-wrap items-center py-4 shadow-md bg-black-700" id="navbar">
    <div class="flex-1 flex justify-between items-center bg-black-700">
        <a href="/home"> <img src="/assets/horse.jpg" alt="Logo" class="logo-navbar">
        </a>
    </div>

    <input class="hidden" type="checkbox" id="menu-toggle" />

    <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
        <nav>
            <ul class="md:flex items-center justify-between text-base text-gray-700 pt-4 md:pt-0">
                <!-- Icona del profilo -->
                <li><a href="/corsi" class="md:p-4 py-3 px-0 block nomenclatura">CORSI</a></li>
                <!-- Link LOGIN/LOGOUT condizionale -->
                @if (!isLogged()) 
                {
                    <li><a class="md:p-4 py-3 px-0 block login-link" href="login">LOGIN</a></li>
                }
                @else 
                {
                    <li><button class="md:p-4 py-3 px-0 block logout-link" (click)="logout()">LOGOUT</button></li>
                    <li><a href="user/:id" id="icona-profilo" class="md:p-4 py-3 px-0 block icona-profilo">👤</a></li>
                }
            </ul>
        </nav>
    </div>
    
    
</header>

<script>
    // Funzione per gestire il logout (esempio)
    function logout() {
        console.log('Logout effettuato');
        // Qui inserire la logica per il logout
    }
</script>
