<app-navbar></app-navbar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="user-profile all">
  <div class="background">
  </div>
  <div class="full-details">
    <div class="user-details">
        <h2>{{ user.nome }} {{ user.cognome }}</h2>
        <p>Data di nascita: {{ user.dob }}</p>
        <div class="certificato-medico">
        <p>Certificato medico: {{ user.certificato ? 'Sì' : 'No' }}</p>
        <label for="file-upload" class="custom-file-upload">
          <i class="fas fa-upload"></i> Carica Certificato
        </label>
      </div>
        <p>Email: {{ user.email }}</p>
    </div>  
    <div class="courses">
      <h3>Corsi seguiti:</h3>
      <ul>
        <li *ngFor="let course of user?.abbonamenti">
        <p>Abbonamento: {{ course.nomeCorso }} (Scadenza: {{ course.dataScadenza}})</p>
        <i class="fas fa-trash-alt remove-icon" (click)="rimuoviAbbonamento(course.id)"></i>
      </li>
      </ul>
    </div>
  </div>
    
  </div>
  