<div class="all">
<div class="container mx-auto p-8 ">
  <!-- Course 1 -->
  <div class="flex flex-wrap mb-8">
    <div class="w-full md:w-1/2">
      <img src="/assets/salapesi.jpg" alt="Course 1" class=" border-l-zinc-900 border-b-slate-800 rounded-lg shadow-lg mx-auto">
    </div>
    <div class="w-full md:w-1/2 md:pl-8 flex flex-col justify-center">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">Sala Pesi</h2>
      <p class="text-gray-600 mb-4">Description of course 1. This is a brief overview of what the course entails and what you will learn.</p>
    </div>
  </div>

  <!-- Course 2 -->
  <div class="flex flex-wrap mb-8">
    <div class="w-full md:w-1/2 md:order-2">
      <img src="/assets/kickboxing.jpg" alt="Course 2" class=" border-l-zinc-900 border-b-slate-800 rounded-lg shadow-lg mx-auto">
    </div>
    <div class="w-full md:w-1/2 md:pr-8 flex flex-col justify-center md:order-1">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">Kick Boxing</h2>
      <p class="text-gray-600 mb-4">Description of course 2. This is a brief overview of what the course entails and what you will learn.</p>
    </div>
  </div>

  <!-- Course 3 -->
  <div class="flex flex-wrap mb-8">
    <div class="w-full md:w-1/2">
      <img src="/assets/fitness.jpg" alt="Course 3" class=" border-l-zinc-900 border-b-slate-800 rounded-lg shadow-lg mx-auto">
    </div>
    <div class="w-full md:w-1/2 md:pl-8 flex flex-col justify-center">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">Fitness</h2>
      <p class="text-gray-600 mb-4">Description of course 3. This is a brief overview of what the course entails and what you will learn.</p>
    </div>
  </div>
</div>
</div>