<app-navbar></app-navbar>
<div class="all">
  <div class="container mx-auto p-8">
    <div *ngFor="let corso of corsi" class="flex flex-wrap mb-28 course-container">
      <div class="w-full md:w-1/2" [class.md:order-2]="corso.id % 2 !== 0">
        <a [routerLink]="['/corso/', corso.id]">
          <img [src]="corso.img" [alt]="corso.nome" class="max-w-lg rounded-lg shadow-lg mx-auto custom-shadow">
        </a>
      </div>
      <div class="w-full md:w-1/2 md:pl-8 flex flex-col justify-center" [class.md:order-1]="corso.id % 2 !== 0">
        <h2 class="text-5xl font-36px Gotham text-red-800 mb-4 font-audiowide">{{ corso.nome }}</h2>
        <p class="text-white mb-4">
          <strong>Orario di Apertura e Chiusura:</strong><br>
            {{ corso.orari }}<br>
        </p>
        <p class="text-white">
          <strong>Panoramica del Corso:</strong><br>
          {{ corso.descrizione }}
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="all">
  <div class="container mx-auto p-8">
     Course 1 
    <div class="course-container">
    <div class="flex flex-wrap mb-16">
      <div class="w-full md:w-1/2 ">
        <img src="/assets/salapesi.jpg" alt="Course 1" class="max-w-sm rounded-lg shadow-lg mx-auto custom-shadow">
      </div>
      <div class="w-full md:w-1/2 md:pl-8 flex flex-col justify-center">
        <h1 class="text-5xl font-36px Gotham text-red-800 mb-4">Sala Pesi</h1>
        <p class="text-black mb-4">
          <strong>Orario di Apertura e Chiusura:</strong><br>
          Lunedì - Venerdì: 07:00 - 22:00<br>
          Sabato: 08:00 - 20:00<br>
          Domenica: 09:00 - 18:00
        </p>
        <p class="text-black">
          <strong>Panoramica del Corso:</strong><br>
          Il corso di Sala Pesi è strutturato per soddisfare sia i principianti che gli atleti avanzati. 
          La sala è dotata di attrezzature all'avanguardia per l'allenamento di forza, resistenza e condizionamento muscolare. 
          Gli istruttori certificati sono disponibili durante tutto l'orario di apertura per offrire consulenza personalizzata, 
          creare piani di allenamento specifici e fornire assistenza tecnica sull'uso delle macchine.
          Ogni sessione può essere personalizzata in base agli obiettivi individuali, come aumento della massa muscolare, 
          tonificazione o perdita di peso. Oltre all'uso delle attrezzature, sono disponibili lezioni di gruppo per migliorare 
          tecniche specifiche e favorire la motivazione collettiva.
        </p>
      </div>
    </div>
    </div> <chiusura container -->
    <!-- Course 2 
    <div class="flex flex-wrap mb-16">
      <div class="w-full md:w-1/2 md:order-2 flex items-start">
        <img src="/assets/kickboxing.jpg" alt="Course 2" class="max-w-sm rounded-lg shadow-lg mx-auto custom-shadow">
      </div>
      <div class="w-full md:w-1/2 md:pr-8 flex flex-col justify-center md:order-1 pl-16">
        <h2 class="text-5xl font-36px Gotham text-red-800 mb-4">Kick Boxing</h2>
        <p class="text-black mb-4">
          <strong>Orario di Apertura e Chiusura:</strong><br>
          Lunedì - Venerdì: 18:00 - 20:00<br>
          Sabato: 10:00 - 12:00<br>
          Domenica: Chiuso
        </p>
        <p class="text-black">
          <strong>Panoramica del Corso:</strong><br>
          Il corso di Kick Box è pensato per offrire un allenamento intenso che combina tecniche di pugilato e calci con esercizi di resistenza e cardio.
          Ogni sessione inizia con un riscaldamento dinamico, seguito da esercizi tecnici per migliorare la coordinazione, 
          la velocità e la precisione dei colpi. Gli allenamenti includono sia sessioni individuali con il sacco da boxe che 
          esercizi di sparring con un partner, sempre sotto la supervisione di istruttori esperti. Il corso è adatto a tutti i livelli, 
          dai principianti agli avanzati, con sessioni che variano in intensità per garantire un progressivo miglioramento delle capacità fisiche e tecniche.
        </p>
      </div>
    </div>

     Course 3 
    <div class="flex flex-wrap mb-16">
      <div class="w-full md:w-1/2 ">
        <img src="/assets/fitness.jpg" alt="Course 3" class="max-w-sm rounded-lg shadow-lg mx-auto custom-shadow">
      </div>
      <div class="w-full md:w-1/2 md:pl-8 flex flex-col justify-center">
        <h2 class="text-5xl font-36px Gotham text-red-800 mb-4">Fitness</h2>
        <p class="text-black mb-4">
          <strong>Orario di Apertura e Chiusura:</strong><br>
          Lunedì - Venerdì: 08:00 - 21:00<br>
          Sabato: 09:00 - 18:00<br>
          Domenica: 10:00 - 16:00
        </p>
        <p class="text-black">
          <strong>Panoramica del Corso:</strong><br>
          Il corso di Fitness è una combinazione di diverse discipline, tra cui aerobica, pilates, yoga e circuit training,
          progettato per migliorare la salute cardiovascolare, la flessibilità, la forza e il benessere generale. Le lezioni di gruppo sono condotte da 
          istruttori qualificati che guidano i partecipanti attraverso una serie di esercizi dinamici e divertenti.
          Ogni sessione è diversa, per mantenere alta la motivazione e prevenire la monotonia. Il corso è adatto a tutte le età e livelli di fitness,
          con opzioni di esercizi adattabili alle esigenze individuali. Le classi includono anche momenti di stretching e rilassamento 
          per garantire un equilibrio tra allenamento e recupero.
        </p>
      </div>
    </div>
  </div>
</div> -->
