<app-navbar></app-navbar>
<div class="corsi">
  <div class="background-image" [style.backgroundImage]="'url(' + corso.img + ')'"></div>
  <div class="corso-info">
    <h1>{{ corso.nome }}</h1>
    <div class="info-container">
      <p class="text-lg mb-4">
        <strong>Orario di Apertura e Chiusura:</strong>
        {{ corso.orari}}
      </p>
      <p class="text-lg">
        <strong>Panoramica del Corso:</strong>
        {{ corso.descrizione }}
      </p>
    </div>
    <button class=" bg-white hover:bg-slate-600 text-black font-bold py-2 px-4 rounded prenota-button" (click)="prenotaCorso()">
      Prenota Corso
    </button>
  </div>
  <div *ngIf="!corso" class="p-8 max-w-4xl mx-auto bg-white rounded-lg shadow-md text-center">
    <p class="text-xl text-red-800">Corso non trovato. Riprova più tardi o seleziona un altro corso.</p>
  </div>
</div>
<div class="illustrative-images">
  <h2>Ulteriori Dettagli</h2>
  <div class="trainer-image">
    @if(corso.nome=="Sala Pesi")
    {
      <img src="assets/images/corso/davide.jpg" alt="Trainer del Corso">
      <p>Il nostro trainer esperto con anni di esperienza.</p>
    }
    @if(corso.nome=="KickBoxing")
    {
      <img src="assets/images/corso/gianluca.jpg" alt="Trainer del Corso">
      <p>Il nostro trainer esperto con anni di esperienza.</p>
    }
    @if(corso.nome=="Fitness")
    {
      <img src="assets/images/corso/alfonso.jpg" alt="Trainer del Corso">
      <p>Il nostro trainer esperto con anni di esperienza.</p>
    }
  
  </div>
  <!-- <div class="facility-images">
    <img src="assets/images/corso/.jpg" alt="Struttura del Corso 1">
    <p>La nostra struttura dotata di tutti i macchinari necessari.</p>
    <img src="assets/images/corso/facility2.jpg" alt="Struttura del Corso 2">
    <p>Ecco un'altra vista della nostra struttura.</p>
  </div> -->
</div>
